.flexCol--desktop__container--home{
    padding: 0 8vw;
}
.flexRow--container__top--home-link{
   padding-top: 20px;
}
.flexRowContent--container__top--home-link{
    align-items: center;
}

.flexColChild--section__banner1--image {
    display: flex;
    justify-content: center;
   
}

.flexRowContent--texto-link__tiendasofi{
    align-items: center;
}

