/* .paginationDotsContainer--home__slider--desktop{
    transform: translateY(5px);
} */

.slide--home__slider--desktop{
    margin-right: 8px;
}

.sliderLeftArrow{
    width: 50px;
    height: 50px;
    background: white !important;
    border-radius: 50%;
}
.sliderRightArrow{
    width: 50px;
    height: 50px;
    background: white !important;
    border-radius: 50%;
    margin-right: 12px;
}
