.flexRowContent--mobile__footer--forma-pagos
  :global(.vtex-rich-text-0-x-paragraph) {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
}
.flexRowContent--mobile__footer--forma-pagos {
  padding-bottom: 20px;
  padding-top: 15px;
  border-top: 1px solid #ccc;
}

.flexCol--disclosure__container {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-top: 15px;
}
.flexCol--disclosure__container .flexColChild :first-child {
  border: none;
}
.flexRowContent--siguenos-container {
  align-items: center;
}
.flexRowContent--siguenos-container
  :global(.vtex-store-footer-2-x-socialNetworkWrapper) {
  width: 90px;
}
.flexRowContent--mobile__footer--apps {
  align-items: center;
}
.flexCol--mobile__footer--sic {
  text-align: center;
}
/* desktop */
.flexRowContent--desktop-footer {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}
.flexColChild--footer__image {
  text-align: center;
  padding-top: 30px;
}
.flexCol--footer-columna-5 {
  padding-left: 28px;
  border-left: 1px solid #ccc;
}
.flexRowContent--desktop__siguenos-container {
  align-items: center;
  padding-bottom: 10px;
}
.flexRowContent--desktop__siguenos-container
  :global(.vtex-store-footer-2-x-socialNetworkWrapper) {
  width: 90px;
}
.flexColChild--footer__image-apps {
  padding: 0%;
}
.flexCol--footer__image-sic {
  text-align: center;
}

@media (max-width: 1025px) {
  .flexRowContent--desktop__siguenos-container {
    display: flex;
    flex-direction: column;
    padding-right: 40px;
  }
  .flexRowContent--mobile__footer--forma-pagos {
    padding-left: 10px;
  }
  .flexCol--footer-columna-1 {
    padding-left: 10px;
  }
  .flexCol--footer-columna-2 {
    padding-left: 8px;
  }
}
@media (min-width: 700px) {
  .flexRowContent--container__mobile-newsletter--imputs {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    
  }
  .flexRowContent--container__mobile-newsletter--imputs :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
    width: 100%!important;
  }
}
