.paragraph--forma-pagos__text-footer{
    font-size: 12px;
}
.paragraph--text-footer{
    font-size: 14px;
}
.paragraph--derechos-autor-text{
    font-size: 13px;
    color: gray;
}
.link--derechos-autor-text{
    color: gray;
}

.paragraph--container__newsletter--title{
    font-weight: bold;
    white-space: nowrap;

}

@media (max-width:1025px) {
    .paragraph--text-footer{
        font-size: 12px;
    }
    .paragraph--container__newsletter--title{
        white-space: normal;
    }
}