.logoImage--logo__mobile--top{
    width: 50px;
 
 }
 .logoContainer--logo__mobile--top  {
     padding: 0%;
 }

 /* desktop */

 .logoImage--top__desktop{
     height: 40px;
     width: 91px
 } 
 .logoContainer--top__desktop{
   padding: 0 0 0 20px;
 }
 .searchBarInnerContainer--search-bar__desktop{
    padding-right: 50px;
    width: 614px;
 }
 .autoCompleteOuterContainer--search-bar__desktop :global(.vtex-styleguide-9-x-input){
    font-size: 14px;
 }
 .autoCompleteOuterContainer--search-bar__desktop :global(.vtex-input__suffix){
    padding: 0%;
 }
 .searchIcon{
    width: 30px;
    height: 25px;
 }
 .searchBarContainer{
     padding-top: 10px;
     margin-left: 5%;
 }
 .autoCompleteOuterContainer--search-bar__mobile :global(.vtex-input__suffix ) {
    padding: 0;

 }
 .autoCompleteOuterContainer--search-bar__mobile :global(.vtex-styleguide-9-x-noAppearance){
    padding: 3px;
 }

 @media (max-width:1025px)  {
   .searchBarInnerContainer--search-bar__desktop{
      padding-right: 30px;
      width: 430px;
   }
   .logoContainer--top__desktop{
      padding: 0;
   }
 }
