.menuContainerNav {
    min-width: 85vw;
    min-height: fit-content;
    top: 43px;
}

.menuContainer {
    min-width: 21%;
    min-height: 100vh;
}


.submenuContainer {
    min-height: 100vh;
}

.menuContainer :first-child {
    padding: 0;
}

.menuItem {
    padding: 5px 0;
}

.menuItem:hover {
    background: #f50 !important;
}

.styledLinkText {
    font-size: 14px;
}

.styledLinkText:hover {
    color: #fff;
}
.caretIcon--mega-menu__desktop{
    display: none;

}
