.label--link__mis-pedidos{
    color: #fff;
    text-transform: none;
    font-size: 16px;
    display: flex;
    align-items: center
    
}
.label--link__mis-pedidos:hover{
color: #bbb;
}
.link--link__mis-pedidos{
    background-color: #3d3d3d;
    border: none;
}
.link--link__mis-pedidos:hover{
    background: #0002;
}
.link--link__mis-pedidos ::before{
    content: url("assets/img/botton__pedidos-header.svg");
    padding-right: 10px;
    display: inline-block;
}

.link--link__one--title{
    color: #ddd;
    font-size: 12.8px;
    text-decoration: none;
    padding: 8px;
}
.link--link__one--title :hover{
    color: rgb(150, 142, 142);
    
}

