.paragraph--about-us__title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0;
    color: #666;
}
.paragraph--linio-en-numeros__title{
    font-size: 30px;
    font-weight: bold;
    color: #666;
}
.container--link__about-us-camion {
    text-align: center;
}
.container--link__about-us {
    text-align: center;
}

.image--link__about-us-camion{
    width: 50px;
}
.image--link__about-us{
    width: 40px;
}
.link--link__about-us-camion{
    text-decoration: none;
    color: #333;
}
.link--link__about-us{
    text-decoration: none;
    color: #333;
}
.paragraph--marcas-aliadas__text--title{
    font-size: 30px;
    font-weight: bold;
    color: #666;
    margin-bottom: 0;
}
.paragraph--title-post__about-us{
    font-size: 30px;
    font-weight: bold;
    color: #666;
}