.flexCol--section__about-us--image{
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
.flexCol--pages__about-us-text{
    align-items: center;
}
.flexCol--container__img--metodo-pago{
    align-items: center;
}
.flexRowContent--container__linio-en-numeros{
    align-items: center;
}
.flexCol--title__linio-en-numeros{
    align-items: center;
    background-color: #F8F5F5
}
.flexCol--banner__linio-en-numeros{
    align-items: center;
    
}
.flexCol--marcas-aliadas__col-2 {
    align-items: center;
}
.flexRow--container__button--ver-mas{
    padding-top: 30px;
    padding-bottom: 30px;
}
.flexRow--container__post--about-us{
    background-color: #F8F5F5;
}
.flexCol--title-post__about-us{
    align-items: center;
}