.paragraph--about-us__title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0;
    color: #666;
}
.paragraph--linio-en-numeros__title{
    font-size: 30px;
    font-weight: bold;
    color: #666;
}
.container--link__about-us-camion {
    text-align: center;
}
.container--link__about-us {
    text-align: center;
}

.image--link__about-us-camion{
    width: 50px;
}
.image--link__about-us{
    width: 40px;
}
.link--link__about-us-camion{
    text-decoration: none;
    color: #333;
}
.link--link__about-us{
    text-decoration: none;
    color: #333;
}
.paragraph--marcas-aliadas__text--title{
    font-size: 30px;
    font-weight: bold;
    color: #666;
    margin-bottom: 0;
}
.paragraph--title-post__about-us{
    font-size: 30px;
    font-weight: bold;
    color: #666;
}
.paragraph--title-comentarios__about-us{
    font-size: 30px;
    font-weight: bold;
    color: #666;
}
.paragraph--text-final__about-us{
    font-size: 14.4px;
    color: #666;
}
.container--link__empieza-a-comprar1{
    text-align: center;
}
.container--link__empieza-a-comprar{
    text-align: center;
}
.paragraph--title-link__empieza-a-comprar{
    font-size: 30px;
    font-weight: bold;
    color: #F5A623;
    margin: 0;
}
.paragraph--subTitle-link__empieza-a-comprar{
    font-size: 18px;
    color: white;
    margin-bottom:0 ;
    margin-top: 10px;
}
.image--link__empieza-a-comprar{
    width: 30%;
}
.image--link__empieza-a-comprar1{
    width: 40%;
}
.link--link__empieza-a-comprar{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}
.link--link__empieza-a-comprar1{
    color: #fff;
    text-decoration: none;
    font-size: 14px;

}